html
  head
    link(rel='stylesheet',type='text/css',href='/css/profile.css')    
    link(rel='stylesheet',type='text/css',href='/css/cm.css')
    script(type='text/javascript',src='/js/main.js')
    script(type='text/javascript',src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(src='http://connect.facebook.net/en_US/all.js')
    script(type='text/javascript', src='/js/jquery.js')
  body
    #centered
      #Oobj92
        img#Ggeo68(alt="", src="../images/Profile-Page-v4.png")      
      #Oobj76
        a(href='/home')
          img#Ggeo58(alt="", src="../images/Logo.png")
      #Oobj77
        a(href='/home')
          img#Ggeo59(alt="", src="../images/The Community Mirror.png")
      #Oobj79
        #Grtf63.dfltt
          span.txt0
            | Use your community as a mirror for
            | your life
      #Oobj85
        #Grtf67.dfltt
          a(href="/logout")
            span.txt1 Logout
      #Oobj93
        #Grtf131.dfltt
          span.txt2 Ask a question:
      #Oobj88
        #Gcode70.dfltc
          form#contact_form(action='/nod', method='post')
            .dfltf 
              input#name.required(type='text', name='nod',style='color:#726E6D;font-size:20;font-family:Tahoma; background-color:Gainsboro;',size ='30',maxlength='80')      
              div
                input#send.button(type='button', value='Ask Specific Friends')
                input#post.button(type='button', value='Post on Wall')
      
      #Oobj103
        #Grtf189.dfltt
          span.txt7
            | Here's what your people had to
            | say:
      #container
        .wrapper-box.module.profile
          .clear
            .boxIndent 
              -for(var i=0;i<nods.length;i++)
               hr.box_hr
               .box_blue_bld 
                  a(href='/'+nods[i]._id)= nods[i].text
               .box_answers 
                  span=nods[i].yes+'  Friend(s) said: "Absolutely!"'
               .box_answers
                  span=nods[i].no+ ' of your friend(s) said:'
                  span.box_word_blue "Not so much!"
               .box_daysago 
                  span= howLongAgo(nods[i].last_update)+' ago'  
      div             
      .results_label
        a(href='/question/all')= 'Show All past questions'
    div
      script(src='http://connect.facebook.net/en_US/all.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
      script(src='/nowjs/now.js')
      #fb-root
      script 
          $(document).ready(function(){
              var fQuestion = !{JSON.stringify(account)};
              now.receiveMessage = function(qid, message){
                if(message == 'sent')
                {
                  window.location.replace("/");
                  
                }
                else{
                  postToFeed(qid,$("#name").val());
                }
              
              }
              $("#post").click(function(){
                now.distributeMessage($("#name").val(),fQuestion);
              });
              $("#send").click(function(){              
                postToFriends($("#name").val(),fQuestion);
              });
          });     
          function postToFriends(qText, fQuestion) {            
            FB.init({appId: '201147376628942', xfbml: true, cookie: true});
            FB.ui({
                method: 'apprequests',
                message: qText     
                }, function(response){
                  if(response.request){
                    now.saveRequest(qText,fQuestion,response.request);
                  }
              });
            }
        
